<header>
    <div class="container">
      <h1><%= siteTitle %></h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li> 
          <li><a href="/users/list-authors">About</a></li>  
          <li class="dropdown">
            <a href="/blog">Author Page</a> 
          </li>
        </ul>
      </nav>
    </div>
    
  </header>
  