<h1><%= loggedUser %> add author page</h1>


<form method="POST" action="/users/add-user">
  <div>
    <label for="user_name">Author Name:</label>
    <input type="text" id="user_name" name="user_name" required> 
  </div>

  <div>
    <label for="email_address">Email Address:</label>
    <input type="email" id="email_address" name="email_address" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>

  <button type="submit">Add Author</button>
</form>
<footer>
  <a href="/blog">Back to Authors Page</a>
  
</footer>