<div class="post">
  <div class="post-content">
    <h1>Our authors</h1>
  </div>

  <div class="post-content">
    <table style="width: 100%;">
      <tr>
        <th>Author Name</th>
        <th>Email Address</th>
      </tr>
      <div class="post-content">
      <% users.forEach(user => { 
        %>
        <tr> 
         <td><%= user.user_name %></td>
         <td><%= user.email_address %></td>
       </tr>
      <% }); 
      %></div>
    </table>
  </div>
</div>