<h2>Login</h2>

<% if (message) { %>
  <div class="error"><%= message %></div>
<% } %>

<form action="/blog/login" method="POST">
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>