<h2>Login</h2>

<% if (message) { %>
  <div class="error"><%= message %></div>
<% } %>

<form action="/blog/login" method="POST">
  <div>
    <div>
      <label for="author">Author:</label>
      <select id="author" name="author" required> 
        <% authors.forEach(author => { %>
          <option value="<%= author.user_name %>"><%= author.user_name %></option>
        <% }); %>
      </select>
    </div>        
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Login</button>
</form>