/* General Styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4; /* Light Gray Background */
    color: #333333;          /* Dark Gray Text */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #673ab7;   /* Deep Purple */
    color: #ffffff;            /* White text on header */
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header h1 {
    color: #ffffff;           /* White text on header */
}

.sort-options {
    /* Remove any default margins or paddings that might affect spacing */
    margin: 0;
    padding: 0;
  }
  
  .sort-options a {
    display: inline-block; /* Make links behave like inline elements but occupy space */
    margin-right: 10px; /* Add space between links (optional) */
  }


nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;             /* White text on header */
}

/* Dropdown Menu Styles */
nav ul li.dropdown {
    position: relative;
}

.likes-section {
    color: #512DA8; /* Darker purple for submenu */
}


nav ul .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #512DA8; /* Darker purple for submenu */
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

nav ul li.dropdown:hover .submenu {
    display: block;
}

nav ul .submenu li {
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid #616161; /* Darker separator for submenu */
}

nav ul .submenu li a {
    color: #ffffff;               /* White text for submenu links */
}


nav ul .submenu li:last-child {
    border-bottom: none;
}

/* Main Content */
main {
    padding: 20px 0;
}

/* Post Styles */
.post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

.post h2 {
    margin-top: 0;
    color: #673AB7;         /* Deep Purple for titles */
    text-align: center; /* Add this line */
}

.post .date {
    font-size: 0.9em;
    color: #777777;        /* Light gray for dates */
}

/* Blog Post Content Box */
.post-content {
    background-color: #ffffff; /* White background for content */
    padding: 5px;
    border-radius: 8px; /* No border */
}
.post-content textarea {
    width: calc(100% - 40px); /* Adjust 40px based on your .post-content padding */
    box-sizing: border-box;  /* Include padding/border in element's total width */
  }

/* Table Styling */
.post-content table {
    width: 100%; 
    border-collapse: collapse;
    margin-bottom: 1px;  /* Add some space below the table */
}

.post-content table th,
.post-content table td {
    text-align: left;
    padding: 1px;  /* Add padding to cells */
    border-bottom: 1px solid #ddd;
}
.post-content h1{
    margin-top: 0;
    color: #673AB7;         /* Deep Purple for titles */
}

.post-content label {
    display: block;     /* Make the label a block-level element */
    margin-bottom: 5px; /* Add some space below the label */
  }

.post-content p {
    margin-bottom: 1em;
    padding: 10px;
}

/* Comments */
.comments {
    margin-top: 20px;
}

.comments ul {
    list-style: none;
    padding: 0;
}

.comments li {
    margin-bottom: 1px;
    padding: 1px;
    border-bottom: 1px solid #eee;
    background-color: #e3f2fd; /* Light Blue for comments */
}

.comments li p {
    line-height: 1.2;
    font-size: 0.9em;
}


/* Footer */
footer {
    background-color: #673ab7;    /* Deep purple for footer */
    color: #fff;                /* White text on footer */
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0;
}

/* Links */
a {
    color: #af8aee;         /* Deep Purple for links */
}
a:hover {
    color: #512DA8;        /* Slightly darker purple on hover */
}


/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .layout-sidebar {
        grid-template-columns: 1fr; 
    }

    .sidebar {
        grid-row: 1;
    }

    .main-content {
        grid-row: 2;
    }
}
